# Virtual env
virtualenv/
venv*/

# Cache
*.pyc
.idea/
__pycache__/
*.sh
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.log
.logs/

# Tests
test.py

# Packaging
*.egg-info/
dist/
build/

# mkdocs
/site

.python-version
.env
.secrets
.coverage
