# Virtual env
virtualenv/

# Cache
*.pyc
**.idea/
**__pycache__/
*.sh
**/.mypy_cache/
**/.pytest_cache/
*.log

# Tests
test.py

# Packaging
*.egg-info/
dist/
build/

# mkdocs
/site

.python-version
.env
**.env
**.secrets
.coverage
/test_*.py
/venv*